@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-light: #ededed;
  --color-dark: #0a0a0a;
}

:root[data-theme="light"]{
  color: var(--color-dark);
  background-color: var(--color-light)
}

:root[data-theme="dark"] {
  color: var(--color-light);
  background-color: var(--color-dark)
}
